.component-list-item {
    width: 100%;
    min-height: 18vh;
}

.component-list-item div {
    display: inline-block;
}

.component-list-item .text {
    width: 80%;
}

.component-list-item .component {
    width: 20%;
}